// Primary colors

$lightRed: hsl(356, 100%, 66%);
$veryLightRed: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);

//Neutral Colors

$whiteText: hsl(0, 0%, 100%);
$grayBlue: hsl(240, 2%, 79%);
$darkGrayBlue: hsl(207, 13%, 34%);
$darkBlue: hsl(240, 10%, 16%);

// Background gradient

$bgVeryLightRed: hsl(13, 100%, 72%);
$bgLightRed: hsl(353, 100%, 62%);

$bgDarkGreyBlue: hsl(237, 17%, 21%);
$bgDarkBlue: hsl(237, 23%, 32%);
